<div class="usr-card">
  <div class="img-plh"></div>
  <div class="usr-detls">
    <h2><%= @single_user.name %></h2> 
    <span>Number Of Posts: <%= @single_user.posts_counter %></span>
  </div>
</div>

<div class="usr-bio">
  <h3>Bio:</h3>
  <p>
    <%= @single_user.bio %>
  </p>
</div>

<div>
  <% @user_posts.each do |post| %>
    <div class="post-card">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <span>
        Comments: <%= post.comments_counter %>
        Likes: <%= post.likes_counter %>
      </span>
    </div>
  <% end %>
</div>
