<h1>Here is a list of posts of the user</h1>
User Name: <%= @single_user.name %> | 
Number Of Posts: <%= @single_user.posts_counter %>

<div>
  <% @user_posts.each do |post| %>
    Post Title: <%= post.title %>
    <p><%= post.text %></p>
    Likes: <%= post.likes_counter %>
    Comments: <%= post.comments_counter %>
    <div>
      <% post.latest_comments.each do |comment| %>
        <%= comment.author.name %>: <%= comment.text%>
      <% end %>
    </div>
  <% end %>
</div>

