<%= flash[:success] %>
<div class="post-body box">
  <h2>
    <%= @current_post.title %> by <%= @current_post.author.name %>
  </h2>
  <span>
    Comments: <%= @current_post.comments_counter %>
    Likes: <%= @current_post.likes_counter %>
  </span>
  <p>
    <%= @current_post.text %>
  </p>
</div>

<div class="post-cmnts-block box">
  <% @post_comments.each do |comment| %>
    <span><%= comment.author.name %>: <%= comment.text %></span> 
  <% end %>
</div>

<%= form_with url: likes_path do |f| %>
  <%= f.hidden_field :post_id, value: @current_post.id %>
  <%= f.submit "Like" %>
<% end %>

<h2>Add a comment</h2> <br>

<%= form_with model: @comment, url: post_comments_path(@current_post) do |f| %>
<%= f.text_area :text %><br>
<%= f.submit "Add comment" %>
<% end %>

<%= flash.now[:error] %>
