<%= flash[:success] %>
<div class="post-body box">
  <h2>
    <%= @single_post.title %> by <%= @single_post.author.name %>
  </h2>
  <span>
    Comments: <%= @single_post.comments_counter %>
    Likes: <%= @single_post.likes_counter %>
  </span>
  <p>
    <%= @single_post.text %>
  </p>
</div>

<div class="post-cmnts-block box">
  <% @post_comments.each do |comment| %>
    <span><%= comment.author.name %>: <%= comment.text %></span> 
  <% end %>
</div>
